<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<style>
		.centered-section {
			text-align: center;
			margin: 0 auto;
			max-width: 600px;
		}
		.centered-section ul {
			display: inline-block;
			text-align: left;
		}
	</style>
</head>

<body>
	<h1>Restaurant Favourite Searcher</h1>

	<div class="centered-section">
		<h2>List</h2>
		<div>
			To see CMSC335 class' favourite list select <a href="/favourites">Favourites</a>
		</div>
	</div>
	
	<hr>
	<div class="centered-section">
		<h2>Search</h2>
		<li>
			To search for restaurants select <a href="/search">Restaurants</a>
		</li>
	</div>
	
	<hr>
</body>

</html>
