<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<h1>Restaurant Favourite Searcher</h1>

	<div class="centered-section">
		<h2>List</h2>
		<div>
			To see CMSC335 class' favourite list select <a href="/favourites">Favourites</a>
		</div>
	</div>
	
	<hr>
	<div class="centered-section">
		<h2>Search</h2>
		<li>
			To search for restaurants select <a href="/search">Restaurants</a>
		</li>
	</div>
	
	<hr>
</body>

</html>
