<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<style>
		.centered-section {
			text-align: center;
			margin: 0 auto;
			max-width: 600px;
		}
		.centered-section ul {
			display: inline-block;
			text-align: left;
		}
	</style>
</head>

<body>
	<h1>Restaurant Favourite Searcher</h1>

	<div class="centered-section">
		<h2>Applicant</h2>
		<ul>
		<li>
			To apply select <a href="/application">Application</a>
		</li>
		<li>
			To review/update an application select <a href="/order">Review Application</a>
		</li>
		</ul>
	</div>
	
	<hr>
	<div class="centered-section">
		<h2>Admin</h2>
		<ul>
		<li>
			To select users based on gpa <a href="/gpa">Select by GPA</a>
		</li>
		<li>
			To remove all applications <a href="/remove">Remove All Applications</a>
		</li>
		</ul>
	</div>
	
	<hr>
</body>

</html>
